.reveal {
    font-size: 35px;
}


/* https://github.com/hakimel/reveal.js/pull/1608 */

.reveal .slides section[data-no-center] {
    top: 0 !important;
}

.reveal img {
    max-height: 400px;
}

.reveal a>img {
    margin: 0;
}

.reveal img.noborder {
    background: none;
    border: none;
    box-shadow: none;
}

.reveal img.inline,
.reveal img.emoji {
    border: none;
    box-shadow: none;
    height: 1em;
    margin: 0;
    vertical-align: middle;
}

.reveal img.emoji {
    background: none;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    width: 1em;
}

.reveal .nobullets-list {
    list-style: none;
    margin-left: 0;
}

.nobullets-list li {
    margin: 0.5em 0;
}

.section-twocolumn {
    display: flex !important;
}

.section-twocolumn>* {
    flex: 1;
}

.text-with-bg {
    background: #002b36;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0.1em 0.3em;
}

.reveal pre code {
    max-height: none;
}

.reveal small {
    vertical-align: middle;
}

.text-muted {
    color: rgba(238, 232, 213, 0.35);
}

.emoji {
    display: inline-block;
    width: 1em;
}

.tip-number {
    display: table-cell;
    width: 10em;
    vertical-align: middle;
}

.tip-number .tip-number-circle {
    vertical-align: middle;
    display: inline-block;
    line-height: 0px !important;
    border-radius: 50%;
    border: 5px solid #fff !important;
    font-size: 3em !important;
}

.tip-number .tip-number-circle span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-family: 'Amatic SC', cursive;
    font-weight: 600;
    color: #fff;
}

.tip-content {
    display: table-cell;
}

.tip-content img {
    max-width: 70%;
}