.reveal {
    font-size: 35px;
}

/* https://github.com/hakimel/reveal.js/pull/1608 */
.reveal .slides section[data-no-center]{
	top: 0 !important;
}

.reveal img {
    max-height: 400px;
}

.reveal a > img {
    margin: 0;
}

.reveal img.noborder {
    background: none;
    border: none;
    box-shadow: none;
}

.reveal img.inline,
.reveal img.emoji {
    border: none;
    box-shadow: none;
    height: 1em;
    margin: 0;
    vertical-align: middle;
}

.reveal img.emoji {
    background: none;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    width: 1em;
}

.reveal .nobullets-list {
    list-style: none;
    margin-left: 0;
}

.section-twocolumn {
    display: flex !important;
}
.section-twocolumn > * {
    flex: 1;
}

.text-with-bg {
    background: #002b36;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0.1em 0.3em;
}

.reveal pre code {
    max-height: none;
}

.reveal small {
    vertical-align: middle;
}